# Homework 2

### Jeffrey Xu
### Professor Mortazavi
### 09/21/2020

## Problem 1: 
In this question, we will learn about data preprocessing. More specifically, we want to prepare the data
so that it will be ready for being fed into a machine learning model. Generally, the data contains missing
values and also has categorical (non-numerical) values. We will learn how to prepare such data.
The dataset we will use in this assignment is called Hitters (can be downloaded from https://github.com/jcrouser/islrpython/blob/master/data/Hitters.csv).
Your submission should include a script which can be run seamlessly and performs all the following
steps one after another. Any submission with a runtime error would result in lost points.

**You may use libraries and you do not need to implement anything from scratch.**

**(1)** Download and read the data. For Python, you may use *pandas* library and use *read csv* function.

In [43]:
import pandas as pd

data = pd.read_csv("Hitters.csv")

**(2)** Print the data. How does the data look like? (For Python, you may use *head()* function in *pandas* library)

In [44]:
print(data.head())

              Player  AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  \
0     -Andy Allanson    293    66      1    30   29     14      1     293
1        -Alan Ashby    315    81      7    24   38     39     14    3449
2       -Alvin Davis    479   130     18    66   72     76      3    1624
3      -Andre Dawson    496   141     20    65   78     37     11    5628
4  -Andres Galarraga    321    87     10    39   42     30      2     396

   CHits  ...  CRuns  CRBI  CWalks  League Division PutOuts  Assists  Errors  \
0     66  ...     30    29      14       A        E     446       33      20
1    835  ...    321   414     375       N        W     632       43      10
2    457  ...    224   266     263       A        W     880       82      14
3   1575  ...    828   838     354       N        E     200       11       3
4    101  ...     48    46      33       N        E     805       40       4

   Salary  NewLeague
0     NaN          A
1   475.0          N
2   480.0          A
3   500.0          N
4    91.5          N

[5 rows x 21 columns]

**(3)** Print the shape of the data. Shape means the dimensions of the data. (In Python, *pandas* dataframe instances have a variable *shape*)

In [45]:
print(data.shape)

(322, 21)

**(4)** Does the data have any missing values? How many are missing? (In *pandas*, check out *isnull()* and *isnumll().sum()*)

In [46]:
print(pd.isnull(data).sum())

Player        0
AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

There seems to be 59 missing values for the 'Salary' attribute.

**(5)** Drop all the rows with any missing data. (In *pandas*, check out *dropna(). dropna()* accepts an argument *inplace*, check out what it does and when it comes in handy.)

In [50]:
data.dropna(subset=['Salary'], inplace=True)
print(data)

                Player  AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  \
1          -Alan Ashby    315    81      7    24   38     39     14    3449
2         -Alvin Davis    479   130     18    66   72     76      3    1624
3        -Andre Dawson    496   141     20    65   78     37     11    5628
4    -Andres Galarraga    321    87     10    39   42     30      2     396
5     -Alfredo Griffin    594   169      4    74   51     35     11    4408
..                 ...    ...   ...    ...   ...  ...    ...    ...     ...
317      -Willie McGee    497   127      7    65   48     37      5    2703
318   -Willie Randolph    492   136      5    76   50     94     12    5511
319    -Wayne Tolleson    475   126      3    61   43     52      6    1700
320     -Willie Upshaw    573   144      9    85   60     78      8    3198
321     -Willie Wilson    631   170      9    77   44     31     11    4908

     CHits  ...  CRuns  CRBI  CWalks  League Division PutOuts  Assists  \
1      835  ...    321   414     375       N        W     632       43
2      457  ...    224   266     263       A        W     880       82
3     1575  ...    828   838     354       N        E     200       11
4      101  ...     48    46      33       N        E     805       40
5     1133  ...    501   336     194       A        W     282      421
..     ...  ...    ...   ...     ...     ...      ...     ...      ...
317    806  ...    379   311     138       N        E     325        9
318   1511  ...    897   451     875       A        E     313      381
319    433  ...    217    93     146       A        W      37      113
320    857  ...    470   420     332       A        E    1314      131
321   1457  ...    775   357     249       A        W     408        4

     Errors  Salary  NewLeague
1        10   475.0          N
2        14   480.0          A
3         3   500.0          N
4         4    91.5          N
5        25   750.0          A
..      ...     ...        ...
317       3   700.0          N
318      20   875.0          A
319       7   385.0          A
320      12   960.0          A
321       3  1000.0          A

[263 rows x 21 columns]

**(6)** Extract the features and the label from the data. Our label is *NewLeague* and all the others are consider features.

In [51]:
labels = data['NewLeague']